# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Ignore image files from the analysis folder recursively
analysis/**/*.tif
analysis/**/*.TIF
analysis/**/*.jpg
analysis/**/*.jpeg
analysis/**/*.JPG
analysis/**/*.JPEG

# Ignore the datasets folder, but keep the specific subfolders for training data
datasets/*
traindata/*
!traindata/cdip_0.2_1000_32x32
!traindata/isri-ocr_0.2_1000_32x32

